body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

main {
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1, h2 {
    color: #333;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

form {
    display: flex;
    flex-direction: column;
}

input, textarea, select, button{
    margin-bottom: 10px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 12px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
}

button {
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    width: auto;
    margin-right: 5px;
    text-align: center;
}

button:hover {
    background-color: #555;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.go-back {
    font-weight: bold;
    color:rgba(0, 0, 0, 0.2);
    border-bottom: 2px solid #ccc;
    padding: 10px 40px 10px 20px;
    margin: -20px -20px 0 -20px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.205);
    font-size: 17px;
}

.go-back a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    vertical-align: middle;
    padding: 4px;
}

.left {
    transform: rotate(135deg);
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #f4f4f4;
}

#pagination {
    margin-top: 20px;
    text-align: center;
}

#pagination button {
    margin: 0 5px;
}

fieldset {
    display: flex;
    border: none;
    margin: 5px 0 5px 0;
    padding-left: 0;
}

input[type="radio"] {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin: 2px;
    accent-color: rgba(0, 0, 0, 0.75);
}

.radio-option {
    margin: -5px 10px 0px 0px;
}

label, legend {
    font-weight: 500;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.bottom-buttons > button {
    width: 100px;
    margin-top: 15px;
}

#logoutBtn {
    display: block;
}
