<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>List categories - BlueVelvet Music Store</title>
  <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>

<main>
  <h1>BlueVelvet Music Store</h1>

  <div class="error-container">
    ERRO: Você não tem autorização para acessar a página solicitada.
  </div>

  <!-- Link para voltar -->
  <div class="back-link">
    <a href="/shop">← Voltar para a loja</a>
    <a href="/login">← Voltar para o login</a>
  </div>
</main>

</body>
</html>
